*{
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    background-color:black;
    padding-top: 5px;
   }

img{
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: block;
}

.list-container{
    list-style: none;
   display: flex;
  justify-content: center;
  }

.link-item{
    font-size:large;
    font-style: normal;
    margin:  1px 3vw;
    font-size: small;
   
}

a{
    text-decoration: none;
}

table{
    margin-top: 50px;
    height: 200px;   
    width: 100%;
}

td{
    height: 100px;
    width: 300px;  
}

img:hover{
    opacity: 0.8;
}

.logo:hover{
    opacity: 1;
}

.grid{
    width: 250px;
    height: 150px;
    padding: 10px;
    opacity: 0.5;   
}

